includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        # Ignore errors that are too strict for early development if needed.

    excludePaths:
        # Exclude paths that shouldn't be analyzed
